Django==6.0.7
djangorestframework==3.17.1
django-filter==26.1
drf-spectacular==0.30.0
django-cors-headers==4.9.0
mysqlclient==2.2.8
python-dotenv==1.2.2
Pillow==12.3.0
djangorestframework-simplejwt==5.5.1
gunicorn==26.0.0
openpyxl==3.1.5
reportlab==4.5.1
